

.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
   
  }
.page-title {
    color: #fce138;
    display: inline-block;
    border-bottom: 4px solid #fce138;
    padding: 0px 80px 15px 80px;
    font-weight: normal;
    font-style: italic;
    font-size: 42px;
}

article {
    color: #024e76;
    width: 80%;
    margin: auto;
}
article h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
}
article p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 1.5;
}
ul {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
li {
    color: #39a6b2;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}